.app {
    max-width: 1300px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
    font-family: 'メイリオ', Meiryo, 'Yu Gothic UI', 'ＭＳ ゴシック', 'ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ StdN', 'Hiragino Kaku Gothic StdN', 'Arial', 'Avenir', sans-serif;
}

.app h1 {
    text-align: center !important;
    width: 100%;
}

.app h2 {
    margin-bottom: 0.1px;
}

.toolbar {
    margin-top: 5px;
}

.editor {
    width: 100%;
    height: 180px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
}

.preview {
    width: 100%;
    margin-top: 20px;
    padding: 16px;
    border-radius: 8px;
    background: #2f3136;
    /* Discord濃い背景 */
    color: #dcddde;
    font-size: 16px;
    line-height: 1.5;
}

.preview code {
    background: #202225;
    padding: 3px 5px;
    border-radius: 4px;
    font-size: 14px;
}

.preview pre code {
    display: block;
    padding: 20px;
}

.preview blockquote {
    border-left: 4px solid #4f545c;
    padding-left: 10px;
    color: #b9bbbe;
}

.app button {
    margin-top: 20px;
}

.container {
    display: flex;
    gap: 40px;
    /* 左右の隙間 */
    align-items: flex-start;
}

/* 左右の幅バランス */
.left {
    flex: 1;
}

.right {
    flex: 1;
}

/* コピーボタンの位置調整 */
.copy-button {
    margin-top: 20px;
}