@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');


#root {
    max-width: 1300px;
    position: relative;
    z-index: 1;
    padding-left: 20px;
}

body {
    padding: 10px;
    position: relative;
    font-family: 'Poppins', 'Yu Gothic UI', 'メイリオ', Meiryo, 'ＭＳ ゴシック', 'ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ StdN', 'Hiragino Kaku Gothic StdN', 'Arial', 'Avenir', sans-serif;
    color: white;
    user-select: none;
    align-content: center;
}

@keyframes gradient {

    /* アニメーション開始時 (0%) */
    0% {
        /* 背景画像の (X: 0%, Y: 0%) の位置、つまり「左上」を表示 */
        background-position: 0% 0%;
    }

    /* アニメーションの中間地点 (50%) */
    50% {
        /* 背景画像の (X: 100%, Y: 100%) の位置、つまり「右下」に移動 */
        background-position: 100% 100%;
    }

    /* アニメーション終了時 (100%) */
    100% {
        /* 最初の「左上」に戻り、スムーズにループする */
        background-position: 0% 0%;
    }
}

body {
    /* 4色の線形グラデーション（色が滑らかに変わる画像）を背景に指定 */
    background: linear-gradient(315deg,
            /* 315度（右斜め上から左斜め下）の角度で */
            rgb(24, 0, 101) 3%,
            /* 3%の位置に暗い紫 */
            rgba(60, 132, 206, 1) 38%,
            /* 38%の位置に青 */
            rgb(5, 61, 57) 68%,
            /* 68%の位置に暗い緑 */
            rgb(16, 135, 66) 98%
            /* 98%の位置に明るい緑 */
        );

    /* アニメーションを適用する命令 */
    animation: gradient 15s ease infinite;

    /* 最重要 背景画像のサイズを、画面の縦横4倍の大きさにする */
    background-size: 1000% 1000%;

    /* ページをスクロールしても背景が固定されるようにする */
    background-attachment: fixed;
}



.app h1.title {
    text-align: center !important;
    width: 100%;
    margin-left: 50px;
}

.app .editor-txt {
    margin-bottom: 0.1px;
    margin-top: 0.1px;
}

.app button {
    color: white;
}

.editor {
    width: 550px;
    height: 440px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border-width: 1.2px;
    resize: none;
    background-color: rgba(23, 23, 23, 0.625);
    color: white;
    font-family: 'Source Code Pro', monospace;
    border-color: #4f545c;
}

.preview {
    width: 650px;
    height: 500px;
    margin-top: 20px;
    padding: 16px;
    border-radius: 8px;
    background: #2f3136;
    /* Discord濃い背景 */
    color: #dcddde;
    font-size: 17px;
    line-height: 1.5;
    font-family: 'メイリオ', 'ヒラギノ角ゴシック', 'ヒラギノ角ゴ StdN';
    overflow-wrap: break-word;
    word-break: break-word;
    overflow-y: auto;
    padding-left: 20px;
}

.preview code {
    background: #202225;
    padding: 3px 5px;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Source Code Pro', monospace;
}

.preview h1 {
    font-size: 30px;
}

.preview h2 {
    font-size: 25px;
}

.preview h3 {
    font-size: 21px;
}

.preview pre code {
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
}

.preview blockquote {
    border-left: 4px solid #4f545c;
    padding-left: 10px;
    color: #b9bbbe;
}


.toolbar button,
.toolbar2 button {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 1px;
    margin-right: 1px;
    padding-left: 17px;
    padding-right: 17px;
    justify-content: center;
    align-content: center;

    background-color: rgb(88, 101, 242);
    color: white;
    border: 0px;
    transition: background-color 0.2s ease;
}

.toolbar2 button {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 14px;
    margin-right: 1px;
    padding-left: 15px;
    padding-right: 15px;

    background-color: rgb(88, 101, 242);
    color: white;
    border: 0px;
    transition: background-color 0.2s ease;
}

.toolbar button:hover:not(:disabled),
.toolbar2 button:hover:not(:disabled) {
    background-color: #4452bb;
    border: 0px;
    transition: background-color 0.2s ease;
}

.copy-button {
    background-color: rgb(88, 101, 242);
    border: 0px;
    transition: background-color 0.2s ease;
}

.copy-button:hover:not(:disabled) {
    background-color: #4452bb;
    border: 0px;
    transition: background-color 0.2s ease;
}

.code-btn {
    padding-bottom: 10px;
    justify-content: center;
}


.toolbar2 {
    margin-top: 0px;
}

.container {
    align-items: center;
    display: flex;
    gap: 40px;
    /* 左右の隙間 */
    align-items: flex-start;
}

/* 左右の幅バランス */
.left {
    flex: 1;
    background-color: rgba(84, 84, 84, 0.4);
    padding: 20px;
    padding-top: 2px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 16px;
}

.right {
    flex: 1;
    background-color: rgba(84, 84, 84, 0.4);

    padding-top: 1px;
    padding-left: 22px;
    padding-right: 23px;
    padding-bottom: 35px;

    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 16px;
}

/* コピーボタンの位置調整 */
.copy-button {
    margin-top: 20px;
}

.copy-button:disabled {
    background-color: #303678;
    opacity: 0.4;
    border: 0px;
    cursor: not-allowed;
}

input[type="file"] {
    padding: 5px;
    width: 320px;
    font-family: 'Poppins', 'Yu Gothic UI', 'メイリオ', Meiryo, 'ＭＳ ゴシック', 'ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ StdN', 'Hiragino Kaku Gothic StdN', 'Arial', 'Avenir', sans-serif;
}

::file-selector-button {
    background-color: rgb(88, 101, 242);
    cursor: pointer;
    padding: 10px;
    color: white;
    border: 0px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
}

::file-selector-button:hover {
    background-color: #4452bb;
    cursor: pointer;
    padding: 10px;
    color: white;
    border: 0px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.3;
}

.en {
    font-size: 20px;
    margin-top: 1px;
}

.clearbtn {
    background-color: #d22d39;
    border: 0px;
    margin-left: 30px;
    margin-top: 5px;
    width: 145px;
    height: 41px;
    transition: background-color 0.2s ease;
}

.clearbtn:hover {
    background-color: #bc2934;
    border: 0px;
    margin-left: 30px;
    margin-top: 5px;
    width: 145px;
    height: 41px;
    transition: background-color 0.2s ease;
}

.file-input {
    display: flex;
}

.file {
    margin-bottom: 3px;
}